*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: relative;
    /*background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/background_header.PNG');
    background-size: cover;
    background-repeat: no-repeat;*/
    z-index: 1;
    /*transition: all 2s ease-in-out;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    transition: all 2s ease-in-out;
}

#slide1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/background_header.PNG');
}

#slide2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/background_header2.PNG');
}

#slide3 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/background_header3.PNG');
}

.none {
    opacity: 0;
}

.H-hello {
    color: #ffffff;
    font-size: 124px;
    font-family: 'Open Sans', sans-serif;
    width: 55vw;
    z-index: 500;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0px;
    z-index: 9999;
    height: 40px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 25px;
}

nav ul li a {
    padding-left: 25px;
    padding-right: 25px;
    border-right: 4px solid #e50045;
}

nav ul li:nth-of-type(5) a {
    border-right: none;
}

nav a {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

nav a:hover {
    box-shadow: inset 0 0 0 25px #e50045;
}


/*wklejone*/

.header-nav {
    position: fixed;
    top: 0;
    z-index: 3;
}

.header-nav-mobile {
    display: none;
    height: 50px;
    width: 100vw;
    max-width: 100%;
    position: relative;
}

.header-nav-mobile button {
    position: absolute;
    right: 50px;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-nav-mobile button span {
    width: 45px;
    height: 5px;
    background: white;
    border-radius: 10px;
}

.header-nav-mobile img {
    width: 162.5px;
    height: 66.5px;
    cursor: pointer;
}


/*koniec wklejenia*/


/*tekst w sekcjach d p i h*/

.d-and-p-text-style {
    font-size: 24px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    z-index: 500;
}


/*kolory tekstow w sekcjach*/

.h-color {
    color: white;
    width: 50vw;
}

.sections-name-style {
    font-family: 'Prata', serif;
    font-size: 72px;
}

.section-name-color-works {
    color: #41ccc4;
}

.section-name-color-team {
    color: #003170;
}

.section-name-color-contact {
    color: #456997;
}

.works {
    height: auto;
    width: 100vw;
    max-width: 100%;
    padding-left: 20vw;
    padding-right: 20vw;
}

.works-scroll {
    color: #2864b1;
    margin: 15px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.works-inside-section {
    font-family: 'Prata', serif;
    color: #16736e;
    font-size: 31px;
}

.period-text {
    color: #16736e;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    margin-top: 10px;
}

.align-rights-dots {
    list-style-position: inside;
}

.visit-the-website {
    color: #2fdbd2;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    margin-top: 20px;
}

.text-align-right {
    text-align: right;
}

.works-header {
    width: 60vw;
    height: auto;
}

.pineapp {
    width: 60vw;
    height: auto;
    display: flex;
}

.pineapp-left {
    position: relative;
    width: 30vw;
    height: 500px;
    background: url("images/15.PNG");
    background-position: center center;
    background-size: cover;
}

.branding-web {
    font-family: 'Prata', serif;
    color: #16736e;
    font-size: 32px;
    padding-top: 0;
    position: relative;
    top: 85px;
    left: -130px;
    width: 250px;
    height: 40px;
    background: #75e3dd;
    transform: rotate(-90deg);
}

#p-branding-web {
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
}

.pineapp-right {
    width: 30vw;
    height: auto;
    padding: 35px;
}

.healty-dining {
    width: 60vw;
    height: auto;
    display: flex;
}

.healty-dining-left {
    width: 30vw;
    height: auto;
    padding: 35px;
}

.healty-dining-right {
    position: relative;
    width: 30vw;
    height: 500px;
    background: url("images/3.PNG");
    background-position: center center;
    background-size: cover;
}

.branding-web-healty-dining {
    font-family: 'Prata', serif;
    color: #16736e;
    font-size: 32px;
    padding-top: 0;
    position: absolute;
    top: -20px;
    right: 20px;
    width: 250px;
    height: 40px;
    background: #75e3dd;
    transform-origin: right top;
    transform: rotate(-90deg);
}

#p-branding-web-healty-dining {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.smart-city {
    width: 60vw;
    height: auto;
    display: flex;
}

.smart-city-left {
    position: relative;
    width: 30vw;
    height: 500px;
    background: url("images/13.PNG");
    background-position: center center;
    background-size: cover;
}

.smart-city-right {
    width: 30vw;
    height: auto;
    padding: 35px;
}

.branding-web-smart-city {
    font-family: 'Prata', serif;
    color: #16736e;
    font-size: 32px;
    padding-top: 0;
    position: relative;
    top: 85px;
    left: -130px;
    width: 250px;
    height: 40px;
    background: #75e3dd;
    transform: rotate(-90deg);
}

#p-branding-web-smart-city {
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
}

.team {
    height: auto;
    width: 100vw;
    max-width: 100%;
}

.team-header {
    width: 100vw;
    max-width: 100%;
    padding-left: 20vw;
}

.team-content {
    width: 100vw;
    display: flex;
    max-width: 100%;
}

.team-left {
    width: 50vw;
    height: 725px;
    background: url("images/team.jpg");
    background-position: center center;
    background-size: cover;
    padding-left: 20vw;
    padding-top: 40px;
    font-family: 'Inconsolata', monospace;
    color: #ffffff;
}

.team-right {
    width: 30vw;
    height: auto;
    padding-left: 20px;
    padding-top: 5px;
}

.team-right-how-we-started {
    font-family: 'Prata', serif;
    font-size: 46px;
    color: #306fbf;
    line-height: 100%;
    margin-bottom: 50px;
}

.team-right-text {
    font-family: 'Inconsolata', monospace;
    color: #444355;
    font-size: 14px;
    margin-bottom: 20px;
}

.contact {
    height: auto;
    width: 100vw;
    max-width: 100%;
    padding-left: 20vw;
    padding-right: 20vw;
}

.contact-header {
    width: 60vw;
}

.contact-content {
    width: 60vw;
    height: auto;
    display: flex;
}

.contact-left {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-left button {
    margin-top: 20px;
    width: 80%;
    border: 2px solid #456997;
    background: transparent;
    padding: 10px;
    color: #456997;
    transition: all .5s;
}

.contact-left button:hover {
    background: #456997;
    color: #ffffff;
}

input,
select,
textarea {
    font-family: 'Inconsolata', monospace;
    color: #456997;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-color: #456997;
    width: 80%;
    height: 80px;
}

 ::-webkit-input-placeholder {
    color: #456997;
}

.contact-right {
    width: 30vw;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.contact-image {
    width: 50%;
    height: 250px;
    background: url("images/contact.jpg");
    background-position: center center;
    background-size: cover;
}

.contact-data {
    padding: 20px;
    width: 50%;
    height: auto;
}

.contact-data-text {
    font-family: 'Inconsolata', monospace;
    color: #29273c;
    font-size: 14px;
}

footer {
    height: 225px;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

footer iframe {
    width: 100vw;
    height: inherit;
    border-top: 2px solid #456997;
}

.active {
    top: 50px;
    display: block;
}

@media only screen and (max-width: 768px) {
    /*wklejone*/
    .header-nav {
        background: transparent;
    }
    .header-nav-mobile {
        display: block;
        background: #456997;
    }
    /*.header-nav-mobile img {
        width: 90px;
        
        height: 50px;
        margin-left: 10px;
    }*/
    .header-nav-mobile button {
        right: 10px;
        top: 0;
        width: 50px;
        height: 50px;
        background: transparent;
        border: none;
    }
    .header-nav-mobile button:focus {
        outline: none;
    }
    nav {
        display: none;
        background: black;
        opacity: .8;
    }
    nav ul {
        flex-direction: column;
        margin-left: 0;
    }
    /*nav a img {
        display: none;
    }*/
    nav ul li {
        width: 100%;
        background: black;
        border-bottom: 1px solid #e50045;
    }
    nav ul li a {
        border: none;
    }
    /*koniec wklejenia*/
    .top {
        height: auto;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .H {
        width: 100vw;
    }
    .H-hello {
        font-size: 96px;
    }
    .h-color {
        width: 90vw;
    }
    .D {
        height: 50vh;
        width: 50%;
    }
    .letter-d {
        font-size: 226px;
    }
    .P {
        height: 50vh;
        width: 50%;
    }
    .letter-p {
        font-size: 226px;
    }
    .d-and-p-text-style {
        font-size: 16px;
    }
    .works {
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    }
    .works-header {
        padding-left: 20vw;
    }
    .pineapp {
        width: 100vw;
    }
    .pineapp-left {
        width: 50vw;
    }
    .pineapp-right {
        width: 50vw;
    }
    .healty-dining {
        width: 100vw;
    }
    .healty-dining-left {
        width: 50vw;
    }
    .healty-dining-right {
        width: 50vw;
    }
    #p-branding-web-healty-dining {
        top: -40%;
    }
    .smart-city {
        width: 100vw;
    }
    .smart-city-left {
        width: 50vw;
    }
    .smart-city-right {
        width: 50vw;
    }
    .team-content {
        flex-direction: column;
    }
    .team-left {
        width: 100vw;
    }
    .team-right {
        width: 100vw;
        padding-right: 20px;
    }
    .contact {
        height: auto;
        width: 100vw;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .contact-content {
        flex-direction: column;
    }
    .contact-header {
        padding-left: 20vw;
    }
    .contact-left {
        width: 100vw;
    }
    .contact-right {
        width: 100vw;
    }
    footer {
        justify-content: space-around;
        flex-direction: column;
    }
    .foot-info {
        position: static;
    }
    .foot-social-media {
        position: static;
        font-size: 52px;
    }
    .foot-img-container {
        display: flex;
    }
}